{% extends 'base.html' %}


{% block body %}
<h2>Employee</h2>
<div class="employee-info">
  <ul class="list-unstyled">
    <li>Name: {{ employee.name|title }}</li>
    <li>Date of birth: {{ employee.dob }} </li>
    <li>Salary: {{ employee.salary }}</li>
    <li>Department:
      {% if employee.department_id %}
        <a href="{{ url_for('department', id=department.id) }}">
          {{ department.name }}</a>
      {% else %}
        No department.
      {% endif %}
      </li>
  </ul>
  <a class="btn btn-primary"
    href="{{ url_for('update_employee', employee_id=employee.id) }}"
    role="button">Edit</a>
</div>
{% endblock %}
