{% extends 'base.html' %}

{% block body %}

<form method="POST">
  {{ form.hidden_tag() }}
  <fieldset class="form-group">
    <div class="form-group">
      {{ form.name.label(class="form-control-label") }}
      {{ form.name(class="form-control form-control-lg", value=employee.name) }}
    </div>
    <div class="form-group">
      {{ form.dob.label(class="form-control-label") }}
      {{ form.dob(class="form-control form-control-lg", value=employee.dob) }}
    </div>
    <div class="form-group">
      {{ form.salary.label(class="form-control-label") }}
      {{ form.salary(class="form-control form-control-lg", value=employee.salary) }}
    </div>
    <div class="form-group">
      {{ form.department.label(class="form-control-label") }}
      {{ form.department(class="form-control form-control-lg", value=employee.department) }}
    </div>
  </fieldset>

  <div class="form-group">
    {{ form.submit(class="btn btn-outline-info") }}
  </div>

  <a class="btn btn-outline-danger"
    href="{{ url_for('delete_employee', employee_id=employee.id) }}"
    role="button">Delete</a>

</form>

{% endblock %}
