.searc-box{
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.search-fields{
  max-width: 45%;
}

input[type=button]{
  margin-top: 3vh;
  margin-bottom: 3vh;
}
table{
  margin-top: 3vh;
}

.employees-table{
  margin-top: 9vh;
}
