{% extends 'base.html' %}

{% block body %}
  <a class="btn btn-outline-info"
    href="{{ url_for('add_department') }}"
    role="button">Add new department</a>

  {% if departments %}

      <table class="table">
        <thead>
          <th>Name</th>
          <th>Average Salary</th>
          <th>Action</th>
        </thead>
        <tbody>
            {% for department in departments %}
              <tr>
                <td>
                  <a href="{{ url_for('department', department_id=department.id) }}">
                    {{ department.name }}</a>
                  </td>
                <td>
                  {% if department.salary %}
                    {{ "%0.2f"|format(department.salary) }}
                  {% else %}
                    {{ 0 }}
                  {% endif %}
                  </td>
                <td>
                  <a href="{{ url_for('update_department', department_id=department.id) }}">
                    Edit</a>
                  </td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
  {% else %}
    <h2>There is no departments.</h2>
  {% endif %}


{% endblock %}
