{% extends 'base.html' %}

{% block body %}


<h2>Department: {{ department.name }}</h2>

<a class="btn btn-primary"
  href="{{ url_for('update_department', id=department.id) }}"
  role="button">Edit</a>

{% if employees %}
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Date of birth</th>
      <th>Salary</th>
    </thead>
    <tbody>
      {% for employee in employees %}
      <tr>
        <td><a href="{{ url_for('employee', id=employee.id) }}">
          {{ employee.name|title}}</a></td>
        <td>{{ employee.dob }}</td>
        <td>{{ employee.salary }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <h3>No employees in department.</h3>
{% endif %}

{% endblock %}
